<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDxi1WKDTUECawYSIo8BlC8PrydUadWkU</string>
	<key>GCM_SENDER_ID</key>
	<string>1038492339763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iVanAppNew</string>
	<key>PROJECT_ID</key>
	<string>ivan-app-ed30b</string>
	<key>STORAGE_BUCKET</key>
	<string>ivan-app-ed30b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038492339763:ios:bebebd6fc4ff6d8d569d46</string>
</dict>
</plist>